{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'django_assist/style.css' %}" />
    <title>{% block title %}Django Assistant: A UI for Django commands{% endblock %}</title>
</head>

<body>
    <div class="page-wrapper">
	    <section class="intro" id="zen-intro">
	    	<header role="banner">
				<h1>{% block header %}Django Assistant{% endblock %}</h1>
				<h2>{% block subheading %}The <abbr title="User Interface">UI</abbr> for Django Commands{% endblock %}</h2>
			</header>
		    <div id="content">
		        {% block content %}{% endblock %}
		    </div>
		</section>
	</div>
    
    <aside id="sidebar" class="sidebar" role="complementary">
    	<div class="design-selection" id="design-selection">
    	<nav role="navigation">
					
        {% block sidebar %}
        <ul>
            <li><a href="/django_assist">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
        </nav>
        </div>
    </aside>

</body>
</html>