

{% extends "django_assist/base.html" %}

{% block title %}Django Assistant: Step List {% endblock %}

{% block subheading %}Command List{% endblock %}

{% block content %}

<h3>{{ step.step_name }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'django_assist:run_step' step.id %}" method="post">
{% csrf_token %}
{% for command in step.command_set.all %}
    <input type="radio" name="command" id="command{{ forloop.counter }}" value="{{ command.id }}" />
    <label for="command{{ forloop.counter }}">{{ command.command_text }}</label><br />
{% endfor %}
<input type="submit" value="Run" />
</form>

<h4>Previous runs</h4>
<ul>
    {% for command in step.command_set.all %}
        {% if command.output_text|length > 0 %}
        <li>{{command.command_text }}:{{ command.output_text }} </li>
        {% else %}
        <li>{{command.command_text }}:Not Run </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}