
{% extends "django_assist/base.html" %}

{% block title %}Django Assistant: Step List {% endblock %}

{% block content %}
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
    <header role="banner">
			<h1>Django Assistant</h1>
			<h2>The <abbr title="User Interface">UI</abbr> for Django Commands</h2>
		</header>
<h3>Steps</h3>
<div class="explanation" id="zen-explanation" role="article">
    {% if step_list %}
        <ul>
        {% for step in step_list %}
            <li>Step {{step.step_order }} {{ step.step_status }}: <a href="/django_assist/{{ step.id }}/">{{ step.step_name }}</a> </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No steps are available.</p>
    {% endif %}
</div>
</section>
</div>
{% endblock %}